{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 papt row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>

<section>
<div class="container-fluid ">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen">
   <br> <h1><p class="textf">Papeterie<p></h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Pa</th>
                <th>Pv</th>
                <th>TVA</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for papeterie in papeteries %}
            <tr>
                <td>{{ papeterie.id }}</td>
                <td>{{ papeterie.Libelle }}</td>
                <td>{{ papeterie.Description }}</td>
                <td><img src="{{asset('images/post/')}}{{ papeterie.image }}" style="width:75px;max-height:75px;"></td>
                {# <td>{{ papeterie.Image }}</td> #}
                <td>{{ papeterie.Pa }}</td>
                <td>{{ papeterie.Pv }}</td>
                <td>{{ papeterie.TVA }}</td>
                <td>{{ papeterie.Stock }}</td>

                <td>
                    <a href="{{ path('papeterie_show', {'id': papeterie.id}) }}">Voir</a>
                    <a href="{{ path('papeterie_edit', {'id': papeterie.id}) }}">Modifier</a>
                     <a href="{{path('cart_remove', {'id': papeterie.id })}}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'articles pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('papeterie_new') }}">Créer un nouveau article</a>
     </div>
    </div>
</div>
{% endblock %}



