{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 avv row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen cadri">
    <h1><p class="textf">Voir avis<p></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ avi.Commentaire }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ avi.User }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ avi.Date ? avi.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avis_index') }}"><p class="textf">Revenir à la liste<p></a>
<br>
    <a href="{{ path('avis_edit', {'id': avi.id}) }}"><p class="textf">Modifier<p></a>

    {{ include('avis/_delete_form.html.twig') }}
    <br>
    </div>
    </div>
</div>
<br>
{% endblock %}
