{% extends 'base.html.twig' %}

{% block title %}Produits d'entretien{% endblock %}

{% block body %}
    <div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 {{ categorie_css }} row justify-content-center"><div class="col-md-3 title">
 </div>
    </div>
</div>
<br>
<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-10 gen cadri">
    <h1><p class="textf">{{ categorie }}<p></h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                {% if is_granted('ROLE_ADMIN') %}
                     <th>Pa</th>
                {% endif %}
                <th>Prix</th>
                <th>Tva</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Stock</th>
                {% endif %}
                 {% if is_granted('ROLE_ADMIN') %}
                <th>Categorie</th>
                {% endif %}
                
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ produit.id }}</td>
                {% endif %}
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.description }}</td>
                <td><img src="{{asset('images/post/')}}{{ produit.image }}" style="width:75px;max-height:75px;"></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ produit.pa }}</td>
                {% endif %}
                <td>{{ produit.pv }}€</td>
                <td>{{ produit.tva }}%</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ produit.stock }}</td>
                <td>{{ produit.categorie }}</td>
                {% endif %}
                <td>
               {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                {% endif %}
                    
                     <a href="{{path('cart_add', {'id': produit.id })}}" class="btn btn-success float-right">
                        <i class="fa fa-shopping-cart"></i>
                        Ajouter
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'articles pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}"><p class="textf">Créer un nouveau article<p></a>
    {% endif %}
    </div>   
    </div>   
    </div> 
    <br>
{% endblock %}
