{% extends 'base.html.twig' %}

{% block title %}Produits d'entretien{% endblock %}

{% block body %}
    <div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 entr row justify-content-center"><div class="col-md-3 title">
 </div>
    </div>
</div>

<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen">
    <h1><p class="textf">Produits d'entretien<p></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Pa</th>
                <th>Pv</th>
                <th>Tva</th>
                <th>Stock</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.description }}</td>
                <td><img src="{{asset('images/post/')}}{{ produit.image }}" style="width:75px;max-height:75px;"></td>
                <td>{{ produit.pa }}</td>
                <td>{{ produit.pv }}</td>
                <td>{{ produit.tva }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.categorie }}</td>
                
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                     <a href="{{path('cart_add', {'id': produit.id })}}" class="btn btn-success float-right">
                        <i class="fa fa-shopping-cart"></i>
                        Ajouter
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'articles pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Créer un nouveau article</a>
    </div>   
    </div>   
    </div> 
{% endblock %}
