{% extends 'base.html.twig' %}

{% block title %}Produits d'entretien{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 entr row justify-content-center"><div class="col-md-3 title">
 </div>
    </div>
</div>
<br>
<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-5 gen cadru">
    <h1>Produits d'entretien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
             <tr>
                <th>Image</th>
                <td><img src="{{asset('images/post/')}}{{ produit.image }}" style="width:75px;max-height:75px;"></td>
            </tr>
            <tr>
                <th>Pa</th>
                <td>{{ produit.pa }}</td>
            </tr>
            <tr>
                <th>Pv</th>
                <td>{{ produit.pv }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ produit.tva }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('produit_edit', {'id': produit.id}) }}"><p class="textf">modifier<p></a>

    {{ include('produit/_delete_form.html.twig') }}
    <br>
    </div>   
    </div>   
    </div> 
{% endblock %}
