{% extends 'base.html.twig' %}

{% block title %}Produits d'entretien{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 entr row justify-content-center"><div class="col-md-3 title">
 </div>
    </div>
</div>

<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen">
    <h1>Produits d'entretien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
             <tr>
                <th>Image</th>
                <td><img src="{{asset('images/post/')}}{{ produit.image }}" style="width:75px;max-height:75px;"></td>
            </tr>
            <tr>
                <th>Pa</th>
                <td>{{ produit.pa }}</td>
            </tr>
            <tr>
                <th>Pv</th>
                <td>{{ produit.pv }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ produit.tva }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">revenir à la liste</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}">modifier</a>
    <a href="{{path('cart_add', {'id': produit.id })}}" class="btn btn-success float-right">
                        <i class="fa fa-shopping-cart"></i>
                        Ajouter
                    </a>

    {{ include('produit/_delete_form.html.twig') }}
    </div>   
    </div>   
    </div> 
{% endblock %}
