{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>
 {% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
         {% for item in items %}
            <tr>
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.produit}}</td>
                <td>{{ item.quantity }}</td>           
                <td>{{ item.product.tttc }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': item.product.id}) }}"class="btn btn-success btn-sm">>show</a>
                    <a href="{{ path('commande_edit', {'id': item.product.id}) }}"class="btn btn-info btn-sm">>edit</a>
                    <a href="{{path('cart_remove', {'id': item.product.id })}}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
             <tr>
                <td colspan="3" class="text-right">Total :</td>
                <td >{{ total }}€</td>
                <td ></td>

            </tr>

    </table>
    {% else %}
    <p>Votre panier est vide !</p>
{%  endif %}
    <a href="{{ path('commande_index') }}">Create new</a>
{% endblock %}
