{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
        {% for item in item %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price * item.quantity}}</td>
                <td>
                    <a href="{{ path('commande_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"><i/>
                    </a>   
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">Total : 
                </td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </tfoot>  
    </table>
    {% else %}
        <p></p>
    {% endif %}    
    
{% endblock %}
