{% extends 'base.html.twig' %}

{% block title %}Entretien index{% endblock %}

{% block body %}
    <h1>Entretien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Pa</th>
                <th>Pv</th>
                <th>TVA</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entretien in entretiens %}
            <tr>
                <td>{{ entretien.id }}</td>
                <td>{{ entretien.Libelle }}</td>
                <td>{{ entretien.Description }}</td>
                <td><img src="{{asset('images/post/')}}{{ entretien.Image }}" style="width:75px;max-height:75px;"></td>
                <td>{{ entretien.Pa }}</td>
                <td>{{ entretien.Pv }}</td>
                <td>{{ entretien.TVA }}</td>
                <td>{{ entretien.Stock }}</td>
                <td>
                    <a href="{{ path('entretien_show', {'id': entretien.id}) }}">show</a>
                    <a href="{{ path('entretien_edit', {'id': entretien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entretien_new') }}">Create new</a>
{% endblock %}
