{% extends 'base.html.twig' %}

{% block title %}Equipements{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 equip row justify-content-center"><div class="col-md-3 title">

       </div>
    </div>
</div>


<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen">
    <h1><p class="textf">Equipements<p></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Pa</th>
                <th>Pv</th>
                <th>TVA</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entretien in entretiens %}
            <tr>
                <td>{{ entretien.id }}</td>
                <td>{{ entretien.Libelle }}</td>
                <td>{{ entretien.Description }}</td>
                <td><img src="{{asset('images/post/')}}{{ entretien.Image }}" style="width:75px;max-height:75px;"></td>
                <td>{{ entretien.Pa }}</td>
                <td>{{ entretien.Pv }}</td>
                <td>{{ entretien.TVA }}</td>
                <td>{{ entretien.Stock }}</td>
                <td>
                    <a href="{{ path('entretien_show', {'id': entretien.id}) }}">Voir</a>
                    <a href="{{ path('entretien_edit', {'id': entretien.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9"><p class="textf">Pas d'articles pour le moment<P></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entretien_new') }}"><p class="textf">Créer un nouveau article<p></a>
   
    </div>   
    </div>   
    </div> 
     {% endblock %}

