{{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.entreprise, {'label': 'Entreprise', 'attr':{'placeholder' : 'Nommer votre Entreprise ...', 'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.responsable, {'label': 'Responsable', 'attr':{'placeholder' : 'Nommer votre Responsable ...', 'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email, {'label': 'Email', 'attr':{'placeholder' : 'Nommer votre email ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.telephone, {'label': 'Telephone', 'attr':{'placeholder' : 'Nommer votre telephone ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.mdp, {'label': 'Mot de passe', 'attr':{'placeholder' : 'Mdp ...', 'class':'form-control', 'type':'password' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.confirm_mdp, {'label': 'Confirmer le mot de passe', 'attr':{'placeholder' : 'Confirmer Mdp ...' , 'class':'form-control', 'type':'password' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.adresseL, {'label': 'Adresse de Livraison', 'attr':{'placeholder' : 'Livraison ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.villeL, {'label': 'Ville', 'attr':{'placeholder' : 'Nommer votre ville ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.CpL, {'label': 'Code postal', 'attr':{'placeholder' : 'CP ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.adresseF, {'label': 'Adresse de Facturation', 'attr':{'placeholder' : 'Facturation ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.villeF, {'label': 'Ville', 'attr':{'placeholder' : 'Nommer votre ville ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.CpF, {'label': 'Code postal', 'attr':{'placeholder' : 'CP ...', 'class':'form-control' }}) }}
            </div>
        
            <div class="form-group">
                {{ form_row(form.NTVA, {'label': 'N°TVA', 'attr':{'placeholder' : 'N°TVA ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.NSIRET, {'label': 'N°SIRET', 'attr':{'placeholder' : 'N°SIRET ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.NKBIS, {'label': 'N°KBIS', 'attr':{'placeholder' : 'N°KBIS ...', 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">sauvegarde</button>
            </div>
        


   
{{ form_end(form) }}
